<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FreeShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.akshay.medical.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePharmacistAccount</display-name>
    <servlet-name>CreatePharmacistAccount</servlet-name>
    <servlet-class>com.akshay.medical.CreatePharmacistAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePharmacistAccount</servlet-name>
    <url-pattern>/CreatePharmacistAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCustomerAccount</display-name>
    <servlet-name>CreateCustomerAccount</servlet-name>
    <servlet-class>com.akshay.medical.CreateCustomerAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCustomerAccount</servlet-name>
    <url-pattern>/CreateCustomerAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PharmacistLogin</display-name>
    <servlet-name>PharmacistLogin</servlet-name>
    <servlet-class>com.akshay.medical.PharmacistLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PharmacistLogin</servlet-name>
    <url-pattern>/PharmacistLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>com.akshay.medical.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/CustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateMedicineData</display-name>
    <servlet-name>CreateMedicineData</servlet-name>
    <servlet-class>com.akshay.medical.CreateMedicineData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateMedicineData</servlet-name>
    <url-pattern>/CreateMedicineData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMedicine</display-name>
    <servlet-name>AddMedicine</servlet-name>
    <servlet-class>com.akshay.medical.AddMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMedicine</servlet-name>
    <url-pattern>/AddMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMedicineName</display-name>
    <servlet-name>SearchMedicineName</servlet-name>
    <servlet-class>com.akshay.medical.SearchMedicineName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMedicineName</servlet-name>
    <url-pattern>/SearchMedicineName</url-pattern>
  </servlet-mapping>
</web-app>